body {
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}
.columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 660px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid green;
}
.test {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 50px;
    background-image:
    radial-gradient(
      rgb(35,53,146,1),
      transparent,
      transparent
);
}

.chip {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}

button#resetBoardToEmpty {
    justify-content: center;
    align-items: center;
}