body {
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}
.columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 600px;
    background-image: radial-gradient(circle , transparent, transparent, #3B76EB 100%);
    border: 4px solid hsl(220, 81%, 58%);
    background-size: 100px 100px;
}
.messageStyleForBothRedAndBlack {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 50px;
    /* background-image: radial-gradient(rgba(0, 255, 179, 0.562), transparent, transparent); */
    background: url(./pics/franceLoop.gif) no-repeat center center fixed; 
}

.chip {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    animation-name: fall-animation;
    animation-duration: 800ms;
}
@keyframes fall-animation {
    from {transform: translateY(-600px)} to {transform: translateY(0)}
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}

#buttonHolder {
    display: flex;
    justify-content: center;
}
button#resetBoardToEmpty {
    position: fixed;
}