:root {
    --globalFont:"Goblin One", cursive, Georgia;
    --boardBlue: #3c50c4; /* or #3B76EB */
}

body {
    background: url(./pics/eiffel.jpg) no-repeat center center fixed; 
    /* http://monovisions.com/paris-france-late-19th-century-historic-bw-photos/ */
    background-size: cover;
    font-family: var(--globalFont);
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--boardBlue);
    -webkit-text-stroke: .5px white;
    font-size: 38px;
}


#wrapper {
    display: flex;
    justify-content: center;
}
.columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 600px;
    background-image: radial-gradient(circle , rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), var(--boardBlue) 100%);
    border: 4px solid var(--boardBlue);
    background-size: 100px 100px;
}
.messageStyleForBothRedAndBlack {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 50px;
    background: url(./pics/franceLoop.gif) no-repeat center center fixed;
}


.chip {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    animation-name: fall-animation;
    animation-duration: 800ms;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
.red {
    background-color: red;
    background-image: url(./pics/redMacaron.png);
}
.black {
    background-color: black;
    background-image: url(./pics/blackMacaron.png);
}
@keyframes fall-animation {
    from {transform: translateY(-600px)} to {transform: translateY(0)}
}


#buttonHolder {
    display: flex;
    justify-content: center;
}
button#resetBoardToEmpty {
    background-size: 150%;
    background-image: url(./pics/baguette.png);
    position: fixed;
    background-color: transparent;
    border: none;
    outline: none;
    background-position: 45% 53%;
    width: 275px;
    height: 100px;
    font-family: var(--globalFont);
    font-size: 20px;
    -webkit-text-stroke: 1px var(--boardBlue);
    color: wheat;
}
button#resetBoardToEmpty:hover {
    -webkit-text-stroke: 1px red;
}